body {
  background-color: #247da1;;
}
h1 {
  color: #c10900;
  text-align: left;
  line-height: 100px
}
p {
  font-family: optima;
  font-size: 20px;
  padding-left: 100px;
  color: #f2e1c4;
}
h2 {
  font-family: snell roundhanded, cursive;
  font-size: 40px;
  padding-left: 100px;
  color: #f2e1c4;

h3 {
  font-family: optima, sans-serif;
  color: #c10900;
  text-align: left;
  padding-left: 100px;
  font-size: 16px;

}
}
h4 {
  font-family: optima, sans-serif;
  padding-left: 100px;
  line-height: -12;
  padding-left: 100px;
  font-size: 20px;
}
h1 {
  font-family: "Arial", fantasy;
  font-size: 50px;
  font-weight: 600;
  color: #f2e1c4;
}
}
img {

padding-left: 50px;
position: absolute; left: -0px;
}
.cloud {
	width: 350px; height: 220px;

	border-radius: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: static;
	margin: 100px left 20px;
}
.cloud {
	width: 350px; height: 220px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: relative;
	margin: 220px left 20px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #c10900;
	z-index: -1
}

.cloud:after {
	width: 100px; height: 100px;
	top: -100px; left: 50px;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -180px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
