body {
    background-image: url("../img/background3.jpg");
    background-position: center;
    background-size: cover;
  }

    .col-sm-4,.col-lg-2 {
    background-color: #44C6E3;
    }

    .col-sm-4,.col-lg-4 {
    background-color: #44C6E3;
    }
    .col-sm-4,.col-lg-6 {
    background-color: #44C6E3;
    }

h1 {
  font-family: black;
  color: #44C6E3;
  padding-left: 75px;
  font-size: 50px;
  line-height: 100px
}

p {
  font-family: optima;
  font-size: 20px;
  padding-left: 100px;
}

h2 {
  font-family: arial black;
  font-size: 30px;
  padding-left: 75px;
}

h3 {
    font-family: arial;
    color: #C3168D;
    font-size: 30px;
    padding-left: 100px;
}

.challenges, .results, .problems {
    border: solid 6px white;
    padding: 10px;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}
.linkbox {
    padding: 10px;
    font-size: 120%;
}
.javascript link {
    text-align: left;
}

#output p {
  margin-top: 20;
  margin-bottom: 20;
  padding-left: 100;
  background-color: #44C6E3;
  color: #C3168D;
  font-family: sans-serif;
  font-size: 25px

}
