body {

}
h1 {
  font-family: arial black;
  color: #07ae06;
  padding-left: 100px;
  font-size: 40px;
  line-height: 100px
}
p {
  font-family: optima;
  font-size: 20px;
  padding-left: 100px;
  color: #ffffff;
}
h2 {
  font-family: arial narrow;
  font-size: 30px;
  padding-left: 100px;
  color: #f3bd0f;
}
script {
      font-family: arial black;
      font-size: 10px;
      padding-left: 100px;
      color: #000000;
}
#output {
  min-height: 40px;
  border: solid 2px white;
  padding: 10px;
}
