body {
  padding: 100px;
}

h1 {
  font-family: arial black;
  font-size: 40px;
  color: limegreen
}
p {
  font-family: optima;
  font-size: 20px;
  padding-left: 0px;
  color: #ffffff;
}
h2 {
  font-family: arial narrow;
  font-size: 30px;
  padding-left: 0px;
  color: #f3bd0f;
}
script {
  font-family: arial black;
  font-size: 10px;
  padding-left: 0px;
  color: #000000;
}

a {
    text-decoration: none;
    color: gold;
}
.linkbox {
    padding-left: 0px;
    font-size: 150%;
}
.javascript link {
    padding-left: 0px;
    font-size: 5px
}
  .namebadge {
    float: right;
    width: 600px;
}
.namebadge img {
    width: 100%;
    height: auto;
}

#name-results {
    position: absolute;
    top: 365px;
    right: 90px;
    width: 400px;
    font-size: 350%;
    font-weight: bold;
    font-family: arial narrow;
    text-align: absolute;
    margin: 30px;
    color: navy
}
