body {
    background-image: url("../img/background3.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
  font-family: black;
  color: #44C6E3;
  padding-left: 75px;
  font-size: 50px;
  line-height: 100px
}

p {
  font-family: optima;
  font-size: 20px;
  padding-left: 100px;
}

h2 {
  font-family: arial black;
  font-size: 30px;
  padding-left: 75px;
}

h3 {
    font-family: arial;
    color: #C3168D;
    font-size: 30px;
    padding-left: 100px;
}

.challenges, .results, .problems {
    border: solid 6px white;
    padding: 10px;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}
.linkbox {
    padding: 10px;
    font-size: 120%;
}
.javascript link {
    text-align: left;
}

#output {
  height: 200px;
  border: solid 1px red;
}
